<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">

    <meta name='viewport' content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="https://www.mapeditor.org/img/tiled-logo-filled.png" />
    <link href='/favicon.ico' rel='icon' type='image/png'/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    <script async defer data-domain="mapeditor.org" src="https://plausible.io/js/plausible.js"></script>

    <link rel="stylesheet" href="{{relativeURL "assets/css/override.css"}}">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="Documentation for {{project.name}}">
    <script async src="{{relativeURL "assets/js/search.js"}}" id="search-script"></script>
</head>
<body>

  <div class="headerbar-container">
    <nav class="headerbar container">
      <a href="/" class="headerbar-logo"><img src="/img/tiled-logo-white.png" class="logo" alt="Tiled logo" width="393" height="213" /></a>
      <div class="headerbar-content">
        <a class="header-item headerbar-button" href="/docs">Docs</a>
        <a class="header-item headerbar-button" href="/news">News</a>
        <a class="header-item headerbar-button" href="/donate">Donate</a>
        <a class="header-item headerbar-button" rel="noopener sponsored" href="https://craftpix.net/link/TiledHeaderAssets">
          Pixel&nbsp;Game&nbsp;Assets
          <svg style="display: inline-block; width: 1em; height: 1em; fill: currentColor; margin-left: 7px;" viewBox="0 0 48 48">
            <path d="M36 24c-1.2 0-2 0.8-2 2v12c0 1.2-0.8 2-2 2h-22c-1.2 0-2-0.8-2-2v-22c0-1.2 0.8-2 2-2h12c1.2 0 2-0.8 2-2s-0.8-2-2-2h-12c-3.4 0-6 2.6-6 6v22c0 3.4 2.6 6 6 6h22c3.4 0 6-2.6 6-6v-12c0-1.2-0.8-2-2-2z"></path>
            <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2 0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8 0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8 2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
          </svg>
        </a>
        <div class="stretch"></div>

        {{> social_icons}}
      </div>
    </nav>
  </div>

{{> header}}

<div class="container container-main">
    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>

{{> analytics}}

  <footer class="media-content">
    <div class="footer-content container">
      <p>Tiled - Copyright © 2008-2024 Thorbjørn Lindeijer<br> and <a href="https://www.openhub.net/p/tiled-qt/contributors/summary">many other contributors</a></p>
      <nav style="display: flex; justify-content: center; align-items: top; margin-left: 1em;">
        <ul style="float: right; border-left: 2px solid #ececec; padding: 0 1em">
          <li><a href="https://discourse.mapeditor.org/">Forum</a></li>
          <li><a href="https://doc.mapeditor.org/en/stable/">Documentation</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/donate">Donate</a></li>
          <li><a href="https://discord.gg/39wbTv7">Discord</a></li>
          <li><a href="https://twitter.com/TiledApp">Twitter</a></li>
          <li><a rel="me" href="https://floss.social/@tiled">Mastodon</a></li>
          <li><a href="https://github.com/mapeditor/tiled">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </footer>

</body>
</html>
